<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Mercado Liebre</title>
    <link href="css/styles.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/1abdb540d6.js" crossorigin="anonymous"></script>  
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <header>
            <section class="topbar">
                <a href="/home" class="logo"> <img src="/images/logo-mercado-liebre.svg" width="300px" alt="Logo MercadoLiebre"> </a>
                <div class="search-bar">
                    <input type="text" class="search-input" placeholder="Buscar artículos">
                    <button class="search-button"><i class="fa-solid fa-magnifying-glass"></i></button>
                </div>
                <div class="promo">
                    <p> <i class="fa-regular fa-credit-card"></i> Comprá en cuotas y sin tarjeta de crédito</p>
                </div>
            </section>
            <section class="navbar">
                <ul id="izq" class="links">
                    <li><a href="/ofertas">Ofertas </a></li>
                    <li><a href="/tiendasOficiales">Tiendas oficiales</a> </li>
                    <li><a href="/vender">Vender </a></li>
                    <li><a href="/ayuda">Ayuda </a></li>
               </ul>
               <ul id="der" class="links">
                <li><a href="/signup">Creá tu cuenta <i class="fa-solid fa-user-plus"></i></a></li>
                <li><a href="/login">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="/misCompras">Mis compras <i class="fa-solid fa-bag-shopping"></i></a></li>
               </ul>
            </section>
            <section class="menu">
                <div class="burgermenu">
                    <i class="fas fa-bars" aria-hidden="true"></i>
                </div>
            </section>
    </header>
    <main class="containerForm">  
      <form action="resultado.html" method="POST">
        <h3>Creá tu cuenta</h3>
        <input class="textinput" type="text" id="nombre" name="nombre" placeholder="Nombre y apellido" required="">
        <input class="textinput" type="text" id="usuario" name="usuario" placeholder="Usuario" required="">
        <input class="dateinput" type="date" id="fechaNacimiento" name="fechaNacimiento" placeholder="Fecha de Nacimiento" required="">
        <input class="textinput" type="text" id="domicilio" name="domicilio" placeholder="Domicilio" required="">
    
        <label for="perfilUsuario">Perfil del Usuario:</label>
        <select class="perfil" name="perfilUsuario">
            <option value="compra">Comprar</option>
            <option value="venta">Vender</option>
        </select>
        <div class="interes">
            <label>Categorías de Interés:</label>
                <div class="checkinput">
                    <input type="checkbox" id="categoriaElectro" name="categorias" value="electro">
                    <label for="categoriaElectro">Electro</label>
                </div>
                <div class="checkinput">
                    <input type="checkbox" id="categoriaModa" name="categorias" value="moda">
                    <label for="categoriaModa">Moda</label>
                </div>
                <div class="checkinput">
                    <input type="checkbox" id="categoriaHogar" name="categorias" value="hogar">
                    <label for="categoriaHogar">Hogar</label>
                </div>
                <div class="checkinput">
                    <input type="checkbox" id="categoriaJugueteria" name="categorias" value="jugueteria">
                    <label for="categoriaJugueteria">Juguetería</label>
                </div>
                <div class="checkinput">
                    <input type="checkbox" id="categoriaVidaSana" name="categorias" value="vida_sana">
                    <label for="categoriaVidaSana">Vida Sana</label>
                </div>
        </div>
    
        <input class="fileinput" type="file" id="fotoUsuario" name="fotoUsuario" placeholder="Subí tu foto">
    
        <input class="passinput" type="password" id="contrasena" name="contrasena" placeholder="Contraseña" required="">
    
        <input class="passinput" type="password" id="confirmarContrasena" name="confirmarContrasena" placeholder="Confirmar contraseña" required="">
    
        <button type="submit">Enviar</button> <button type="button" onclick="borrarDatos()">Borrar todos los datos</button>

        <script>
          function borrarDatos() {
            let elementosABorrar = document.querySelectorAll('input, textarea');
            elementosABorrar.forEach(function(elemento) {
              elemento.value = '';
            });
          }
        </script>
    
      </form>
    
    </main> 
    </body></html>